## Deliverable 2. Create a Customer Travel Destinations Map.

In [32]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [9]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:/Users/Supriya Singh/Desktop/Maya SugarSync/UCB_Data_Analytics/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Gorin,RU,51.20,136.67,-15.50,87,100,4.12,overcast clouds
1,1,Busselton,AU,-33.65,115.33,68.13,72,0,14.12,clear sky
2,2,Puerto Ayora,EC,-0.74,-90.35,86.00,48,0,18.34,clear sky
3,3,Avarua,CK,-21.21,-159.78,80.60,83,22,8.05,light rain
4,4,Bathsheba,BB,13.22,-59.52,78.80,83,75,11.41,broken clouds

In [10]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 10
What is the maximum temperature you would like for your trip? 90

In [11]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Busselton,AU,-33.65,115.33,68.13,72,0,14.12,clear sky
2,2,Puerto Ayora,EC,-0.74,-90.35,86.00,48,0,18.34,clear sky
3,3,Avarua,CK,-21.21,-159.78,80.60,83,22,8.05,light rain
4,4,Bathsheba,BB,13.22,-59.52,78.80,83,75,11.41,broken clouds
5,5,Vao,NC,-22.67,167.48,77.90,83,100,25.66,light rain
6,6,Port Alfred,ZA,-33.59,26.89,68.00,87,0,6.29,clear sky
7,7,Inyonga,TZ,-6.72,32.07,68.13,81,100,1.77,overcast clouds
8,8,Alofi,NU,-19.06,-169.92,75.20,100,83,1.12,light rain
9,9,Xinzhi,CN,36.50,111.70,14.56,58,0,3.06,clear sky
10,10,Jibuti,DJ,11.50,42.50,77.00,69,20,3.36,few clouds

In [13]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                6
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [15]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [47]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = np.NaN
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Busselton,AU,68.13,clear sky,-33.65,115.33,NaN
2,Puerto Ayora,EC,86.00,clear sky,-0.74,-90.35,NaN
3,Avarua,CK,80.60,light rain,-21.21,-159.78,NaN
4,Bathsheba,BB,78.80,broken clouds,13.22,-59.52,NaN
5,Vao,NC,77.90,light rain,-22.67,167.48,NaN
6,Port Alfred,ZA,68.00,clear sky,-33.59,26.89,NaN
7,Inyonga,TZ,68.13,overcast clouds,-6.72,32.07,NaN
8,Alofi,NU,75.20,light rain,-19.06,-169.92,NaN
9,Xinzhi,CN,14.56,clear sky,36.50,111.70,NaN
10,Jibuti,DJ,77.00,few clouds,11.50,42.50,NaN

In [48]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [49]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Busselton,AU,68.13,clear sky,-33.65,115.33,Observatory Guest House
2,Puerto Ayora,EC,86.00,clear sky,-0.74,-90.35,Finch Bay Galapagos Hotel
3,Avarua,CK,80.60,light rain,-21.21,-159.78,Paradise Inn
4,Bathsheba,BB,78.80,broken clouds,13.22,-59.52,Atlantis Hotel
5,Vao,NC,77.90,light rain,-22.67,167.48,Hotel Kou-Bugny
6,Port Alfred,ZA,68.00,clear sky,-33.59,26.89,The Halyards Hotel
7,Inyonga,TZ,68.13,overcast clouds,-6.72,32.07,Eden Rock Lodge
8,Alofi,NU,75.20,light rain,-19.06,-169.92,Taloa Heights
9,Xinzhi,CN,14.56,clear sky,36.50,111.70,Mingyue Hotel
10,Jibuti,DJ,77.00,few clouds,11.50,42.50,Orchid Main Camp Goubet

In [50]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Busselton,AU,68.13,clear sky,-33.65,115.33,Observatory Guest House
2,Puerto Ayora,EC,86.00,clear sky,-0.74,-90.35,Finch Bay Galapagos Hotel
3,Avarua,CK,80.60,light rain,-21.21,-159.78,Paradise Inn
4,Bathsheba,BB,78.80,broken clouds,13.22,-59.52,Atlantis Hotel
5,Vao,NC,77.90,light rain,-22.67,167.48,Hotel Kou-Bugny
6,Port Alfred,ZA,68.00,clear sky,-33.59,26.89,The Halyards Hotel
7,Inyonga,TZ,68.13,overcast clouds,-6.72,32.07,Eden Rock Lodge
8,Alofi,NU,75.20,light rain,-19.06,-169.92,Taloa Heights
9,Xinzhi,CN,14.56,clear sky,36.50,111.70,Mingyue Hotel
10,Jibuti,DJ,77.00,few clouds,11.50,42.50,Orchid Main Camp Goubet

In [53]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [59]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [60]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))